body {
    font-family: 'Roboto', sans-serif;
}
.nav-item a {
    width: 500;
    color: #FF4D00;
}
.nav-link:hover {
    color: white;
}

#perfil h1 {
    width: 500;
}
#perfil h3 {
    width: 300;
}
#perfil {
    width: 300;
}
.card-body h5 {
    width: 500;
}
.card-body p {
    width: 300;
}

.btn-custom {
    background-color: #FF4D00;
    color: #fff;
  }
.card-text {
    height: 85px;
  }  

#pie p {
    width: 500;
    color: #FF4D00;
}